<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Ticketac - Results</title>
</head>
<body>
  <%- include('./partials/header') %>
<!-- PAGE A TESTER -->
  <% if (trips.length < 1) { %>
    <div class="my-3 d-flex flex-column align-items-center">
      <h2 class="text-light text-center">Ooops! No registred trips yet...</h2>
      <a href="/">
        <button type="button" class="btn btn-danger">Home</button>
      </a>
    </div>
  <% } else { %>
    <div class="container narrow d-flex flex-column">
      <h2 class="mt-5 text-light">My tickets :</h2>
      <div class="mt-3">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">journey</th>
              <th scope="col">Date</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% let total = 0;
              trips.forEach((trip, index) => { 
                total += trip.price             %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= trip.departure %> / <%= trip.arrival %></td>
                  <td><%= dateFormaterFull(trip.date) %></td>
                  <td><%= trip.departureTime %></td>
                  <td><%= trip.price %> €</td>
                </tr>
            <% }) %>
            <tr class="table-danger">
              <th colspan="4">Total</th>
              <td><%= total %> €</td>
            </tr>
            <tr>
              <th style="border-style: none;" class="bg-transparent" colspan="4"></th>
              <td style="border-style: none;" class="bg-transparent">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Confirm
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  <% } %>


  <%- include('./partials/footer') %>


  <!-- Modal part -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm payement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Today only: 100% discount! 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/confirm-checkout">
            <button type="button" class="btn btn-danger">Pay</button>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>